* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.div_Contact_container {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.div_Contact_container .Contact_headers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div_Contact_container .Contact_headers h1 {
  text-align: center;
  color: white;
  font-size: 55px;
}

.div_contact_middle_container {
  width: 100%;
  display: block;
  position: relative;
}
.contact_ul li {
  list-style-type: none;
  text-align: center;
  margin: 25px 0px;
  /* color: rgba(4, 86, 152, 1); */
  /* text-align: justify !important; */
  font-weight: 600;
}


/* // Contact middle Container */

.Contact_middle_Container .Contact_Card {
  /* padding: 20px; */
  width: 100%;
  margin: 20px 0px;
  min-height: 380px;
  /* height: 400px; */
  /* background-color: #b8d6ee; */
  background-color: #dbecf9;
  /* background-color: rgb(4, 141, 11); */
  border-radius: 20px;
}
.Contact_middle_Container .Contact_Card h3 {
  color: rgb(4, 141, 11);
}

.Contact_middle_Container .Contact_Card p {
  text-align: center;
  margin: 20px 0px;
  text-decoration: none;
  font-weight: 450;
  font-size: 18px;
}

.Contact_middle_Container .Contact_Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Contact_middle_Container .Contact_Card img {
width: 130px;
height: 120px;
}

.form_Contact_with {
  display: block;
  overflow: hidden;
  position: relative;
  /* background-color:pink; */
  /* width: 1000px; */
  /* max-width:''; */
}

/* .div_contact_title{

  postion:relative
display:flex;
justify-content:start;
text-align:start;
}

 .div_contact_title img{
  height:80px ;
  width:150px;
  }
 .div_contact_title h2{

  height:80px ;
  width:150px;
  } */

.form_Contact_with .container-box {
  display: block;
  position: relative;
  overflow: hidden;
}
.container-box .div_contact_title {

  /* justify-content: space-around; */
}

.container-box .div_contact_title img {
   width: 200px;
}
.container-box .Contact-Title h2 {

  text-align: center !important;
  
  /* color: rgba(4, 86, 152, 1); */
  /* color: rgb(4, 141, 11); */
  /* background-color: red; */
}
.form_Contact_with .Contact_heading h1 {
  /* list-style-type: none; */
  text-align: center;
  margin: 25px 0px;
  /* color: rgba(4, 86, 152, 1); */
  color: rgb(4, 141, 11);
  /* font-weight: 600; */
}
.Contact-Title {
  background-image: url('../assests/Img/Handshake\ 1.png');
position: relative;
background-origin: initial;
background-repeat: no-repeat;
height: 100px;
background-size: 120px 90px;

/* background-position: center; */
/* background-origin: 50% 10px; */
}
@media  screen and (max-width:700px) {
  .Contact-Title{
background-image: none;
height: 0px;

  }
  
}
.div_contact_title {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.div_contact_form .form-control {
  border-radius: 30px;
  padding: 15px 20px;
}

@media screen and (max-width: 772px) {
  .div_Contact_container .Contact_headers h1 {
    /* text-align: center; */
    /* color: white; */
    font-size: 16px;
  }
  .div_Contact_container .Contact_headers p {
    font-size: 12px;
  }
}

@media screen and (max-width: 540px) {
  .div_Contact_container .Contact_headers h1 {
    /* text-align: center; */
    /* color: white; */
    font-size: 12px;
  }
  .div_Contact_container .Contact_headers p {
    font-size: 8px;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 320px) {
  .div_Contact_container .Contact_headersh1 {
    font-size: 10px;
  }
  .div_Contact_container .Contact_headersp {
    font-size: 6px;
  }
}
