* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav-link {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: rgb(4, 141, 11);
  font-weight: 550;
}

.nav-link a:hover {
  text-decoration: none;
  color: rgb(3, 2, 70);
  font-weight: 550;
}
.active{
  color: black !important;
}