* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.div_Risk_title{
    position: relative;
    display: block;
    padding-top: 10px;
    /* padding: 20px 0px; */
    overflow: hidden;
}
.div_Risk_title h1{
    /* color: rgba(36, 107, 165, 1); */
    color: rgb(4, 141, 11);
    text-align: center;
    font-weight: 550;
}
/* risk profile verification */
.Risk_container {
  margin: 10px 0px;
  /* padding: 20px 0px; */
  /* background-color: aquamarine; */
}
.Risk_container .Risk_box {
  /* color: rgba(36, 107, 165, 1); */
  position: relative;
  display: block;
  overflow: hidden;
  /* background-color: red; */
}
.Risk_container .Risk_box .Risk_left_side{
    display: block;
    position: relative;

}
.Risk_container .Risk_box .Risk_left_side img {
  object-fit: cover ;
  border-radius: 8px;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
}
.Risk_container .Risk_box .Risk_right_side h2{
    /* color: rgba(36, 107, 165, 1); */
    color: rgb(4, 141, 11);
    text-align: start;
    font-weight: 550;
    margin-top: 30px;
}
.Risk_container .Risk_box .Risk_right_side p{
    letter-spacing: 0.2px;
    /* font-weight: 350; */
    /* text-align: start; */
    text-align: justify !important;

}